<a href="https://colab.research.google.com/github/amnamalik1993/Two-Datasets/blob/main/Project_2_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Set 1: **Car Insurance Data Set**

In [1]:
from google.colab import drive
drive.mount ('/content/drive')

Mounted at /content/drive

In [3]:
# Import Libraries

import pandas as pd
import numpy as np

In [6]:
# Load the dataset

filename = '/content/Car_Insurance_Claim.csv'
df = pd.read_csv(filename)
df.head()

,ID,AGE,GENDER,RACE,DRIVING_EXPERIENCE,EDUCATION,INCOME,CREDIT_SCORE,VEHICLE_OWNERSHIP,VEHICLE_YEAR,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,VEHICLE_TYPE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
0,569520,65+,female,majority,0-9y,high school,upper class,0.629027,1.0,after 2015,0.0,1.0,10238,12000.0,sedan,0,0,0,0.0
1,750365,16-25,male,majority,0-9y,none,poverty,0.357757,0.0,before 2015,0.0,0.0,10238,16000.0,sedan,0,0,0,1.0
2,199901,16-25,female,majority,0-9y,high school,working class,0.493146,1.0,before 2015,0.0,0.0,10238,11000.0,sedan,0,0,0,0.0
3,478866,16-25,male,majority,0-9y,university,working class,0.206013,1.0,before 2015,0.0,1.0,32765,11000.0,sedan,0,0,0,0.0
4,731664,26-39,male,majority,10-19y,none,working class,0.388366,1.0,before 2015,0.0,0.0,32765,12000.0,sedan,2,0,1,1.0

In [7]:
# Display the number of rows and columns for the dataframe
df.shape
print(f'There are {df.shape[0]} rows, and {df.shape[1]} columns.')
print(f'The rows represent {df.shape[0]} observations, and the columns represent {df.shape[1]-1} features and 1 target variable.')

There are 10000 rows, and 19 columns.
The rows represent 10000 observations, and the columns represent 18 features and 1 target variable.

**Data Source:**

https://www.kaggle.com/datasets/sagnik1511/car-insurance-data

**Brief description of data**

The company has shared its annual car insurance data. Company is interested in finding out customer behavior. The outcome column indicates 1 if a customer has claimed his/her loan else 0.

**What is the target?**

The target vector is the OUTCOME.

**What does one row represent?**

The rows are representing information about the customer who have claimed insurance over cars. It gives information about customers specifically.

**Is this a classification or regression problem?**

Classification problem. The outcome column indicates 1 if a customer has claimed his/her loan else 0.

**How many features does the data have?**

Columns represent 18 features.

**How many rows are in the dataset?**

There are 10000 rows.

**What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?**

We are going to check for:

*   Duplicates
*   Inconsistemcies in Categorical Data
*   Inspecting data types
*   Missing values
*   Creating EDA.
*   Preproccesing for modeling
*   Using different model on the data
*   Calculate matrixes and predict the accuracy of the dataset