<a href="https://colab.research.google.com/github/amnamalik1993/Stroke-Prediction/blob/main/Project_2_Part_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Set 1: **Stroke Prediction Data Set**

In [1]:
from google.colab import drive
drive.mount ('/content/drive')

Mounted at /content/drive

In [2]:
# Importing Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Loading dataset

filename = '/content/healthcare-dataset-stroke-data.csv'
df = pd.read_csv(filename)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [4]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [5]:
# Display the number of rows and columns for the dataframe
df.shape
print(f'There are {df.shape[0]} rows, and {df.shape[1]} columns.')
print(f'The rows represent {df.shape[0]} observations, and the columns represent {df.shape[1]-1} features and 1 target variable.')

There are 5110 rows, and 12 columns.
The rows represent 5110 observations, and the columns represent 11 features and 1 target variable.

**Data Source:**

https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset?resource=download

**Brief description of data**

This dataset is used to predict whether a patient is likely to get stroke based on the input parameters like gender, age, various diseases, and smoking status. Each row in the data provides relavant information about the patient.

**What is the target?**

The target vector for this data is '**stroke**'.

**What does one row represent?**

Each row provides information about the the patient.

**Is this a classification or regression problem?**

Classification Problem

**How many features does the data have?**

10 features. We are going to drop ID and target colummn

**How many rows are in the dataset?**

There are 5110 rows in the dataset.

**What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?**

We are going to check for:

*   Duplicates
*   Inconsistemcies in Categorical Data
*   Inspecting data types
*   Missing values
*   Creating EDA.
*   Preproccesing for modeling
*   Using different model on the data
*   Calculate matrixes and predict the accuracy of the dataset